main {
  width: 100%;
  height: 400px;
  background-image: url(/GunungBg.webp);
  // background: url("https://cf.shopee.co.id/file/f56ce398fbbf7de1390c6e1caa521d45");
  object-fit: cover;
  bottom: 0;
  background-position: top top;
  background-repeat: no-repeat;
  padding-bottom: 0px;
  text-align: center;
  color: white;
  h1 {
    font-size: 2.5em;
    padding-top: 150px;
    padding-bottom: 24px;
  }

}

.home__container {
  width: 1200px;
  margin: 0 auto 0;
  height: 100vh;

  .hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .hero__text {
      margin: auto 120px;
      max-width: 400px;
      h2{
        font-size: 2em;
        margin-bottom: 0.25em;
      }
      p{
        font-size: 1.2em;
        // font-weight: 300;
      }
    }
    .hero__image {
      width: 400px;
      height: 100%;
      margin: 50px auto 50px;
      object-fit: cover;
      position: relative;
      //   top: 0;
      //   left: 0;
    }
  }
}

.suggestions-container {
  background: #fff;
  box-shadow: 0 4px 6px rgba(32, 33, 36, 0.28);
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0 0 24px 24px;
  padding-bottom: 4px;
  overflow: hidden;
}

.suggestion-input{
  height: 60px;
  border-radius: 5px;
  padding: 5px;
}