.footer__container {
  display: flex;
  width: 100%;
  background-color: #fdfdfd;
  height: 80px;
  justify-content: space-between;
  text-align: center;

  span {
    margin: 0 auto 0;
  }
}
