.searchbar__container {
  width: 420px;
  margin: 20px auto 0;

  form.search-form {
    z-index: 3;
    position: relative;
    display: flex;
    border-radius: 55px 55px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
    .searchTerm {
      transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      font-family: "Lato", sans-serif;
      font-size: 20px;
      width: 100%;
      border: 1px solid #fdfdfd;
      border-right: none;
      padding: 15px 20px;
      height: 45px;
      border-radius: 15px 0 0 15px;
      outline: none;
      color: #868686;
      &:focus {
        color: #0f0f0f;

      }
    }
    .searchButton {
      padding: 5px 10px;
      font-size: 24px;
      width: 60px;
      height: 45px;
      border: 1px solid #fdfdfd;
      background: #fff;
      text-align: center;
      border-radius: 0 15px 15px 0;
      cursor: pointer;

      &:hover {
        color: rgb(133, 133, 133);
      }
    }
  }


  .searchbar__suggestions {
    position: absolute;
    width: 420px;
    
    ul {
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
      z-index: 2;
      margin-top: -20px;
      padding-top: 20px;
      color: black;
      border-radius: 0px 0 15px 15px;
      list-style-type: none;
      background-color: rgb(255, 255, 255);
      flex: auto;
      padding-bottom: 16px;
      li {
        z-index: 2;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 7px 20px;
        // margin: 0 20px 0 14px;
        &:hover{
          background-color: rgb(240, 240, 240);
        }
      }
    }
  }
}
